.DashBoard {
    background: skyblue;
    height: auto;
    text-align: center;
    position: relative;
}

.buts {
    font-size: 50px;
    border-radius: 5px;
    color: white;
    background: blue;
}

.players {
    font-size: 25px;
    background: white;
    border-color: blue;
    border-width: 2px;
    margin: 5px;
}

#welcome {
    font-size: 75px;
    font-weight: bold;
}

